<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" 
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" 
    crossorigin="anonymous")
    link(rel="stylesheet" href="css/styles.css")
  body
    header#header.header 
      a(href="/").logo
        img(src="./assets/img/logo.png", alt="web logo")
      .topbar
        .topbar__icon
          i.fa.fa-user
          span Log in
        .topbar__icon
          i.fa.fa-user-plus
          span Register
        .toggle-menu
          #toggle-menu.toggle-menu__icon
            .first-bar
            .second-bar
            .third-bar
    aside#sidebar.sidebar
    main.main