include ../config/config
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(
      rel="stylesheet",
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css",
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc",
      crossorigin="anonymous"
    )
    link(rel="stylesheet", href="css/styles.css")
  body
    header#header.header 
      a.logo(href="/")
        img(src="./assets/img/logo.png", alt="web logo")
      #topbar.topbar
        .topbar__icon(data-type="login")
          i.fa.fa-user
          span Log in
        .topbar__icon(data-type="register")
          i.fa.fa-user-plus
          span Register
        .toggle-menu
          #toggle-menu.toggle-menu__icon
            .first-bar
            .second-bar
            .third-bar
    #sidebar.sidebar
      block menu
    main.main
      block title
      block main
    include ../includes/login-modal
    include ../includes/register-modal
    block scripts
    script(src="js/scripts-min.js")
