#login-modal.lightbox
  form#login-form.form
    .form__field
      label.form__label(for="login-email") Email
      input#login-email.form__input(type="email", name="email")
    .form__field
      label.form__label(for="login-password") Password
      input#login-password.form__input(type="password", name="password")
    .form__field
      input.form__submit(type="submit", value="send", name="sendButton")
