nav#main-nav.main-nav
  ul#main-menu.main-menu
    each page, index in pages
      if page == pageActive
        li.main-menu__item
          if index == 0
            a.main-menu__link.main-menu__link--active(href="/")= page
          else
            a.main-menu__link.main-menu__link--active(href=`/${page}.html`)= page
      else
        li.main-menu__item
          if index == 0
            a.main-menu__link(href="/")= page
          else
            a.main-menu__link(href=`/${page}.html`)= page
