//- Contenedor modal de toda la ventana
#register-modal.lightbox
  //- Formulario de registro
  form#register-form.form
    .form__field
      label.form__label(for="register-email") Email
      input#register-email.form__input(type="email", name="email")
    .form__field
      label.form__label(for="register-password") Password
      input#register-password.form__input(type="password", name="password")
    .form__field
      label.form__label(for="register-password-2") Repeat password
      input#register-password-2.form__input(type="password", name="password-2")
    .form__field
      input.form__submit(type="submit", name="registerButton", value="Send")
